@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

html {
	border-radius: 100px;
}
body {
	background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
	background-size: cover;
	-webkit-animation: slidein 100s;
	animation: slidein 100s;

	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;

	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	height: 400px;
	width: 400px;
}

@-webkit-keyframes slidein {
	from {
		background-position: top;
		background-size: 3000px;
	}
	to {
		background-position: -100px 0px;
		background-size: 2750px;
	}
}

@keyframes slidein {
	from {
		background-position: top;
		background-size: 3000px;
	}
	to {
		background-position: -100px 0px;
		background-size: 2750px;
	}
}

#btn-container {
	display: flex;
	justify-content: space-evenly;
}

#btn-container > button {
	background-color: whitesmoke;
	border: none;
	outline: none;
	border-radius: 15px;
	padding: 8px;
	font-weight: bold;
	width: 100px;
	height: 50px;
	cursor: pointer;
	background: linear-gradient(to right, black 50%, white 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all 0.5s ease-out;
}

/* When ones hovers over the button */
#btn-container > button:hover {
	font-style: oblique;
	/* background-color: black; */
	color: white;
	background-position: left bottom;
	box-shadow: 0 0 5px grey, 0 0 25px black, 0 0 50px black, 0 0 100px black;
}

/* When the button is clicked */
#btn-container > button:active {
	transform: scale(0.9);
}

/* modify the task display list */
#task-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.task-delete-button {
}

.task-input {
	outline: none;
	border: none;
	border-radius: 4px;
	margin: 5px;
	padding: 5px 10px 5px 10px;
	width: 250px;
}

.header-image {
	display: flex;
	justify-content: center;
	height: 70px;
}

.time-remainder {
	display: flex;
	justify-content: center;
}

#time-remaining {
	font-size: 30px;
}
