@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

html {
	border-radius: 100px;
}
body {
	background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
	background-size: cover;
	-webkit-animation: slidein 100s;
	animation: slidein 100s;

	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;

	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	height: 400px;
	width: 400px;
}

@-webkit-keyframes slidein {
	from {
		background-position: top;
		background-size: 3000px;
	}
	to {
		background-position: -100px 0px;
		background-size: 2750px;
	}
}

@keyframes slidein {
	from {
		background-position: top;
		background-size: 3000px;
	}
	to {
		background-position: -100px 0px;
		background-size: 2750px;
	}
}

/* .center {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(75, 75, 250, 0.3);
	border-radius: 3px;
}
.center h1 {
	text-align: center;
	color: white;
	font-family: 'Source Code Pro', monospace;
	text-transform: uppercase;
} */

#btn-container {
	display: flex;
	justify-content: space-evenly;
}

#btn-container > button {
	background-color: whitesmoke;
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 8px;
	font-weight: bold;
	width: 100px;
	height: 50px;
	cursor: pointer;
}

#btn-container > button:hover {
	font-family: fantasy;
	background-color: black;
	color: white;
	box-shadow: 0 0 5px black, 0 0 25px grey, 0 0 50px grey, 0 0 100px grey;
}

/* Button sliding mechanism */

.header-image {
	display: flex;
	justify-content: center;
	height: 70px;
}

.time-remainder {
	display: flex;
	justify-content: center;
}
