body {
    height: 400px;
    width: 300px;
}

.header-image {
    display: flex;
    justify-content: center;
    height: 70px;
}

.time-remainder {
    display: flex;
    justify-content: center;
}
